<div class="criteria-panel__list">
    @for (item of criterion().value?.() ?? []; track item.id) {
    <mat-checkbox class="btn-checkbox" 
        [class.is-display]="genderStates().get(item.id) === 'excludedGenders'"
        [checked]="isSelectionSelected(criterion().key, item.id)"
        (click)="onCriteriaCheckboxClick($event, criterion(), item)">
        {{ item.name}}
    </mat-checkbox>

    @if (criterion().key === 'genders' && genderStates().get(item.id) === 'excludedGenders') {
    <button mat-icon-button (click)="onCriteriaCheckboxClick($event, criterion(), item)">
        <mat-icon class="exclude-badge">remove_circle</mat-icon>
        <span class="exclude-badge__label">{{ item.name}}</span>
    </button>
    }

    }
</div>