.criteria-panel {
  background: #11151f;
  padding: 10px 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
  }

  &__reset {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    color: #f5c518;
    cursor: pointer;
  }

  &__box {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
  }

  &__list {
    column-gap: 10px; 
    display: grid; 
    grid-template-columns: 45% 55%;
  }

  &__end {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}