.title-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
    overflow-anchor: none;
}

.title-card {
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    outline: none !important;
    border-radius: 4px !important;
    overflow: hidden !important;
    box-shadow: none !important;
    background: transparent !important; 
    line-height: 0; 

    img[mat-card-image] {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        display: block;
        border-radius: inherit;
        object-fit: cover;
    }

}

.scroll-anchor {
  height: 20px;
  overflow-anchor: none;
}