// Include theming for Angular Material with `mat.theme()`.
@use '@angular/material' as mat;
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@import 'material-icons/iconfont/material-icons.css';

html {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  height: 100%;
  --mat-sys-on-background: #e5e7eb!important;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #0d1117;
  color: var(--mat-sys-on-surface);
  --mat-sys-on-surface: #e5e7eb;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}

.mat-mdc-chip-set .mdc-evolution-chip-set__chips {
    min-width: 0!important;
    margin-left: 15px!important;
}

mat-divider {
  --mat-divider-color: #2a2d3a!important; // couleur proche du fond
}

.filter-menu {
    background-color: #11151f !important;

    .mat-mdc-menu-item {
        color: #e5e7eb;

        &:hover:not([disabled]),
        &.cdk-program-focused:not([disabled]),
        &.cdk-keyboard-focused:not([disabled]),
        &.mat-mdc-menu-item-highlighted:not([disabled]) {
            background-color: #f2a93b;
            color: #11151f;
        }
    }
}

.mat-mdc-checkbox .mat-internal-form-field .mat-mdc-form-field .mdc-label {
    --mdc-form-field-label-color: #e5e7eb;
    --mat-checkbox-label-text-color: #e5e7eb;
    --mat-sys-on-background: #e5e7eb!important;
}

.btn-checkbox {
  --mdc-checkbox-selected-icon-color: #FFD700 !important;

  margin-inline-end: 10px;

  &:disabled {
    opacity: 0.4 !important;
    cursor: not-allowed !important;
  }

  .mdc-checkbox__checkmark {
    color: #000000 !important;
  }

  .mdc-checkbox__mixedmark {
    border-color: #000000 !important;
    background: #FFD700 !important;
  }

  &.mat-mdc-checkbox-checked .mdc-checkbox__background,
  &.mat-mdc-checkbox-indeterminate .mdc-checkbox__background {
    border-color: #FFD700 !important;
    background: #FFD700 !important;
  }

  .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background {
    border-color: #FFD700 !important;
    background-color: #FFD700 !important;
  }

}
mat-slider {
  --mat-slider-active-track-color: #FFD700;
  --mat-slider-thumb-color: #FFD700;
  --mat-slider-handle-color: #FFD700;
  --mat-slider-label-container-color: #FFD700;
  --mat-slider-label-label-text-color: black;
  --mat-sys-primary: #FFD700;
  --mat-slider-value-indicator-width: 30px;
}

mat-spinner {
  --mat-sys-primary: #FFD700;
}


.dialog-panel {
    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #11151f;
    }

    .mat-mdc-dialog-content {
        --mat-dialog-supporting-text-color: #e5e7eb!important;
    }

    .mat-mdc-dialog-surface {
        background-color: #11151f;
    }

    .mat-mdc-dialog-title {
        color: white!important;
    }
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.mat-mdc-menu-panel {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 5) !important;
  max-width: 400px!important;
}

.mat-mdc-menu-content {
  padding: 0!important;
  overflow: hidden;
}

.mat-mdc-outlined-button:not(:disabled) {
    --mat-button-outlined-label-text-color: #e5e7eb!important;
    --mat-button-outlined-outline-color: transparent;
}

.criteria-menu {
  min-width: 400px !important;
}
