@let key = criterion().key;
<div class="criteria-panel__range">
    <form [formGroup]="form">
        @if (isMonoCriterion(key)) {
            @if (key === 'release') {
            <div [formGroupName]="key" class="criteria-panel__range__slider">
                <div class="filter_area__start">{{ DEFAULT_RELEASE_DATE.min }}</div>
                <mat-slider [min]="DEFAULT_RELEASE_DATE.min" [max]="DEFAULT_RELEASE_DATE.max" step="1" discrete="true"
                    showTickMarks="true" class="filter_area">
                    <input formControlName="min" matSliderStartThumb (change)="onReleaseDateChange(key)">
                    <input formControlName="max" matSliderEndThumb (change)="onReleaseDateChange(key)">
                </mat-slider>
                <div class="filter_area__end">{{ DEFAULT_RELEASE_DATE.max }}</div>
            </div>
            <div class="criteria-panel__range__actions">
                <mat-checkbox class="btn-checkbox" [checked]="selectedRange() === 'thisYear'"
                    (change)="onSelectRangePreset(key, 'thisYear')" (click)="$event.stopPropagation()">
                    Cette année</mat-checkbox>
                <mat-checkbox class="btn-checkbox" [checked]="selectedRange() === 'lastYear'"
                    (change)="onSelectRangePreset(key, 'lastYear')" (click)="$event.stopPropagation()">
                    Année dernière</mat-checkbox>
            </div>
            }

            <!-- TODO : template filtrage par duree -->
            @if (key === 'duration') {
            <div [formGroupName]="key"></div>
            }

        } @else {
        <!-- TODO : template filtrage par note -->
        <div [formGroupName]="key">
            <div class="criteria-panel__range__slider">
                <img src="assets/tmdb_logo.jpg" alt="icone_tmdb" width="24" height="24" style="margin-right: 10px">
                <div class="filter_area__start">0</div>
                <mat-slider min="0" max="10" step="1" discrete="true" showTickMarks="true" class="filter_area">
                    <input matSliderThumb>
                </mat-slider>
                <div class="filter_area__end">10</div>
            </div>
        </div>
        }
    </form>
</div>